@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --custom-color: rgb(87, 81, 81);
  --padding: 20px;
  --medium-font-size: 1.2em;
  --big-font-size: 2.5em;
  --input-padding: 15px 25px;
  --border-radius: 8px;
  --margin-bottom: 20px;
  --margin-top: 10px;
  --border: 1px solid rgb(197, 212, 221);
  --misc-color: steelblue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 800px;
  max-width: 100%;
  margin: auto;
}

.form-heading {
  text-align: center;
  color: var(--misc-color);
  margin-top: 80px;
  padding: var(--padding);
}

.form {
  width: 60%;
  margin: 30px auto;
  padding: var(--padding);
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: var(--margin-top);
  margin-bottom: var(--margin-bottom);
}

.form-group-label {
  color: var(--custom-color);
  font-size: var(--medium-font-size);
  margin-bottom: var(--margin-bottom);
}

input {
  padding: var(--input-padding);
  border-radius: var(--border-radius);
  border: var(--border);
}

input::placeholder {
  font-size: medium;
}

#phone {
  padding-right: 40px;
  background-position: right 10% bottom 45%;
  background-size: 30px;
}

.error-msg {
  display: none;
  font-size: 12px;
  text-align: center;
  color: red;
}

.btn-submit {
  margin-top: var(--margin-top);
  border: none;
  padding: 14px;
  border-radius: var(--border-radius);
  cursor: pointer;
  background: var(--misc-color);
  color: white;
  font-size: var(--medium-font-size);
  transition: 0.3s;
}

.btn-submit:hover {
  background: rgb(44, 106, 156);
}

.mtn {
  background: url(./imgs/mtn-logo.png) no-repeat;
}
.glo {
  background: url(./imgs/glo-logo.png) no-repeat;
}
.airtel {
  background: url(./imgs/airtel-logo.png) no-repeat;
}
.nine-mobile {
  background: url(./imgs/9mobile-logo.png) no-repeat;
}

@media (max-width: 840px) {
  .form {
    width: 100%;
  }
}
